/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  height: 100px;
  width: 100px;
}

h4 {
  margin: 0;
}

section.home-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

card.user-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-data {
  display: flex;
  border: 1px solid black;
  flex: 1 0 0;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}

.users-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.custom-card-t {
  align-self: flex-end;
  margin: 0;
}

section.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.post-comment-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

card.post-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

.post-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.post-data h2 {
  margin: 0;
}

.counter-data {
  display: flex;
  align-self: flex-end;
  gap: 12px;
}

.counter-data h5 {
  margin: 0;
}

.bio-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.comments-box {
  border: 1px solid black;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 60px;
}

p {
  margin: 0;
}

.post-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.post-data-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  gap: 40px;
}

a {
  text-decoration: none;
  color: black;
  width: 100%;
  cursor: pointer;
}

.main-btn {
  height: 50px;
  width: 200px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px black;
  cursor: pointer;
  background: white;
}

.main-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input-container {
  width: 100%;
}

input#post_title {
  height: 28px;
  width: 100%;
  border: 2px solid black;
  margin-top: 8px;
  margin-bottom: 14px;
}

textarea {
  min-height: 100px;
  width: 100%;
  border: 2px solid black;
  margin-top: 8px;
  margin-bottom: 14px;
  resize: none;
}

form.main-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
